@import url(http://weloveiconfonts.com/api/?family=entypo);
html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0; }

.navigation {
  padding: 0;
  margin: 0;
  background: #333;
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%; }
  .navigation li {
    display: inline-block;
    padding: 5px 10px; }
    .navigation li a {
      color: #e1e1e1;
      text-decoration: none; }
      .navigation li a:hover {
        color: white; }
  .navigation .active {
    background-color: #666666; }

.main {
  height: 100%; }

.slide {
  background-attachment: fixed;
  width: 100%;
  min-height: 100%;
  position: relative;
  padding: 30px; }

.glyphicon {
  position: absolute;
  bottom: 50px; }

span.button {
  opacity: .5;
  background-color: #333;
  border-radius: 10%;
  padding: 30px;
  color: red;
  font-size: 14px;
  display: block;
  position: absolute;
  bottom: 25px;
  left: 50%;
  margin-left: -38px; }
  span:hover {
    background-color: white; }

.button_up {
  display: block;
  width: 50px;
  height: 50px;
  position: absolute;
  bottom: 55px;
  left: 50%;
  margin-left: -25px;
  background-image: url(../img/down_arrow_up.png);
  background-size: 50px 50px;
  background-repeat: no-repeat; }

#slide1 {
  background-image: url(../img/slide1/intro2.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: 9; }

.slide-1-logo {
  text-align: center; }

#slide2 {
  background-image: url(../img/slide2/m3.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
  z-index: 9; }

#slide3 {
  background-image: url(../img/slide3/m4.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
  z-index: 10; }

#slide4 {
  background-image: url(../img/slide4/m5.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
  z-index: 8; }

#slide5 {
  background-image: url(../img/slide5/m66.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
  z-index: 8; }

.slide6 {
  position: relative;
  z-index: 9;
  padding: 0;
  height: 100%;

}

.slide7 {
  background-image: url(../img/slide7/bg.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
  z-index: 8; 
}

#slide8 {
  background-image: url(../img/slide6/end2.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
  z-index: 8; }

h1 {
  color: white; }
  h1.m3 {
    font-weight: bold;
    font-size: 100px;
    color: white;
    z-index: 999;
    text-align: right;
    position: relative; }
  h1.m4 {
    font-size: 100px;
    color: white;
    z-index: 999;
    text-align: right;
    position: relative; }
  h1.m5 {
    font-size: 100px;
    color: white;
    z-index: 999;
    text-align: right;
    position: relative; }
  h1.m6 {
    font-size: 100px;
    color: white;
    z-index: 999;
    text-align: right;
    position: relative; }

.centerBig {
  font-size: 80px;
  text-align: center;
  top: 60px;
  position: relative;
  margin-left: -50px; }

.upfront {
  text-decoration: underline;
  color: white;
  right: 1%;
  top: 12%;
  z-index: 999;
/*  float: right;*/
  position: absolute; }

/* CSS Document */
/* ---------- ENTYPO ---------- */
/* ---------- http://www.entypo.com/ ---------- */
/* ---------- http://weloveiconfonts.com/ ---------- */
a[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif; }

/* ---------- GENERAL ---------- */
ul {
  padding: 0; }

/* ---------- SOCIAL ---------- */
.social {
  position: relative;
  height: 3em;
  width: 12em; }

.social li {
  display: block;
  height: 4em;
  line-height: 4em;
  margin: -2em;
  position: absolute;
  -webkit-transition: -webkit-transform .5s;
  -moz-transition: -moz-transform .5s;
  -ms-transition: -ms-transform .5s;
  -o-transition: -o-transform .5s;
  transition: transform .5s;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  text-align: center;
  width: 4em; }

.social a {
  opacity: 0.7;
  color: red;
  display: block;
  height: 4em;
  line-height: 4em;
  text-align: center;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  width: 4em; }

.social li:hover {
  -webkit-transform: rotate(405deg);
  -moz-transform: rotate(405deg);
  -ms-transform: rotate(405deg);
  -o-transform: rotate(405deg);
  transform: rotate(405deg); }

.twitter {
  background: #333;
  opacity: 0.7;
  bottom: 0;
  left: 25%; }

.linked-in {
  background: #333;
  opacity: 0.7;
  bottom: 0;
  left: 125%; }

.facebook {
  background: #333;
  opacity: 0.7;
  bottom: 0;
  left: -25%; }

.github {
  background: #333;
  opacity: 0.7;
  bottom: 0;
  left: 75%; }

.socialButtons {
  margin: auto;
  left: -8em;
  margin-left: 50%;
  position: relative; 
}

#map-canvas {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -99;
}

.infoBox {
  float: right;
  top: -300px;
  position: relative;
  color: brown;
}

.gallery img{
  position: relative;
  top: 20px;
  float: left;
  margin: 1%;
  width: 10.5%;
  border: 2px solid black;
  border-radius: 10%;
  box-shadow: 5px 5px 20px;
}
